/*&display=swap*/
@import url(null.css);
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);
body{
	font-family: "Lato";
	font-size: 16px;
	font-weight: normal;
	line-height:1.6 ;
}
.wraper{
	max-width: 390px;
	margin: 0 auto;
}


.title-whoweare {
	text-transform: uppercase;
}
.whoweare-item {
	font-weight: 700;
	line-height:1.5 ;
	margin:0px 0px 8px 0px;
}
.title-why {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin:0px 0px 40px 0px;
}

.list-createx {
	margin:0px 0px 22px 0px;
}
.createx-item {
	padding:0px 0px 0px 32px;
	background: url(../img/check.png) 0 5px/16px no-repeat;
	line-height: 1.6;
}
.createx-item:not(:last-child){
	margin:0px 0px 12px 0px;
}
.more-btn {
	background-image:linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	width: 161px;
	height: 44px;
	border-radius: 4px;
	/* text-align: center; */
	
}
.btn-link {
display: block;
color: #fff;
font-size: 14px;
padding: 11px 32px;

}